<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container">
        <p>Hooray! Congrats on your new pet, {{ petName }}!</p>
        <p>You paid ${{ amount }}</p>
        <p>Proud Pete's Pet Emporium thanks you!:)</p>
    </div>
</body>
</html>
